


.annual-plan {
  color: hsl(223, 47%, 23%);
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 3%;
}



body {
    background: url("C:/Users/HP 8470p/Desktop/Guide/html-projects/order-summary-component-main/images/pattern-background-desktop.svg");
    color: hsl(224, 23%, 55%);
  }



.cancel-order-btn{
  background-color: white ;
  border: none;
  color: hsl(224, 23%, 55%);
  display: block;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  width: 74%;
  margin: 2% auto;
  padding: 1%;

}

.cancel-order-btn:hover {
  color: hsl(223, 47%, 23%);
}


.change-link {
  color: hsl(245, 75%, 52%);
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  position:absolute;
  bottom:39%;
  left: 70%
}

.change-link:hover {
  color: hsl(224, 23%, 55%);
}


.first-div {
  margin-bottom: 0;
}

h1 {
  color:hsl(223, 47%, 23%);
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  margin: auto;
  width: 59%;
}


.hero-img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: auto 34% 0 34%;
  width: 32%;


}


.icon-music {
  float: left;
  margin-right: 5%
}


.middle-div {
  background-color: hsl(225, 100%, 98%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 auto auto auto;
  padding-bottom: 1.5%;
  padding-top: 2%;
  position: relative;
  bottom: 5px;
  width: 32%
}

.music-div{
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  margin: auto;
  padding: 3% 3% 0.5% 3%;
  width:74%;
}

.payment-btn {
  border: none;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  color: white;
  display: block;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  width: 74%;
  margin: 2% auto;
  padding: 1%;
}

.payment-btn:hover {
  background-color: hsl(224, 23%, 55%);
}


.price {
  margin-top: 1%;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
}


.two-items {
  position: relative;
  bottom: 0;
}


.you-can{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  margin: 4% auto 4% auto;
  text-align: center;
  width: 60%;
}
